project_id="<GCP-PROJECT-ID>"
region="<REGION>"
zone="<ZONE>"
region_cloud_run=<REGION_CLOUD_RUN>
region_dataproc="<REGION-DATAPROC>"
zone_dataproc="<ZONE-DATAPROC>"
dataproc_master_disk_size_gb=<NBR_GB>
dataproc_worker_disk_size_gb=<NBR_GB>